header{height:90vh; position: relative; display: flex; overflow: hidden;}
header nav{background-color: #474849; z-index: 2; height: 15%; overflow: hidden;}
.nav-close{display: grid; grid-template-columns: 1fr 1.8fr 3fr; justify-content: space-around; align-items: center; height: 15%; width: 100%; position: absolute;}
.nav-close .logo{text-indent: -9999px; background-image: url(../img/logo.jpg); background-position: center; background-size: contain; background-repeat: no-repeat; width: 50%; height: 50%; justify-self: center;}
.nav-close ul{display: grid; grid-template-columns: 1fr 1fr 1fr; justify-self: center; width: 100%;}
.nav-close ul li{justify-self: center; text-transform: uppercase;}
.nav-links li a:hover{color: var(--hover); font-weight: bold;}
 
.banner{height: fit-content;}
.banner img{width: 100%;}

/* main */
main{width: 80%; margin: auto; padding: 7% 0;}
#works{display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 80px 40px; text-align: center;}
.contents article a div+div{padding-top: 2em;}
.pf-img{margin: auto;}
.pf-img img{width: 80%;}
.work p{word-break: break-word;}

