
/* 
.cate-nav input{display: none;}
.cate-nav .clearfix li label:hover{}
.cate-nav input{display: none;}
.cate-nav ul{display: block;}
.cate-nav ul li {float: left; width: 16%;}
.cate-nav ul li label {display: block; height: 30px; text-align: center; text-transform: uppercase; cursor: pointer;}
.cate-nav .innerbox .innerbox-cnt {display: none; border: 1px solid var(--black); margin-top: 30px; padding: 30px 10px; height: 700px; background-color: #fff; overflow: scroll;}
.cate-nav .innerbox .innerbox-cnt img{width: 100%;}
.cate-nav .innerbox .innerbox-cnt img+img{padding-top: 40px;}



.cate-nav #m1:checked~ul li:nth-child(1) label,
.cate-nav #m2:checked~ul li:nth-child(2) label,
.cate-nav #m3:checked~ul li:nth-child(3) label,
.cate-nav #m4:checked~ul li:nth-child(4) label,
.cate-nav #m5:checked~ul li:nth-child(5) label,
.cate-nav #m6:checked~ul li:nth-child(6) label{color: var(--primary-a); border-bottom: 1px solid var(--primary-a); font-weight: 500;}

.cate-nav #m1:checked~.innerbox .innerbox-cnt:nth-child(1),
.cate-nav #m2:checked~.innerbox .innerbox-cnt:nth-child(2),
.cate-nav #m3:checked~.innerbox .innerbox-cnt:nth-child(3),
.cate-nav #m4:checked~.innerbox .innerbox-cnt:nth-child(4),
.cate-nav #m5:checked~.innerbox .innerbox-cnt:nth-child(5),
.cate-nav #m6:checked~.innerbox .innerbox-cnt:nth-child(6) {display: block;}
 */

 header{height:90vh; position: relative; display: flex; overflow: hidden;}
 header nav{background-color: #474849; z-index: 2; height: 15%; overflow: hidden;}
 .nav-close{display: grid; grid-template-columns: 1fr 1.8fr 3fr; justify-content: space-around; align-items: center; height: 15%; width: 100%; position: absolute;}
 .nav-close .logo{text-indent: -9999px; background-image: url(../img/logo.jpg); background-position: center; background-size: contain; background-repeat: no-repeat; width: 50%; height: 50%; justify-self: center;}
 .nav-close ul{display: grid; grid-template-columns: 1fr 1fr 1fr; justify-self: center; width: 100%;}
 .nav-close ul li{justify-self: center;}
 .nav-links li a:hover{color: var(--hover); font-weight: bold;}
 
 
.banner img{width: 100%;}

/* main */
main{width: 80%; margin: auto; padding: auto;}
#works{display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px 40px; text-align: center;}
.contents article a div+div{padding-top: 2em;}
.pf-img{width: 80%; margin: auto;}
.pf-img img{width: 80%;}