<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<main>
       {{!-- <div class="carousel-container">
         <div class="carousel-slide">
           <img src="./img/Nutrience_big.jpeg" alt="" id="lastClone">
           <img src="./img/APR_App.jpeg" alt="">
           <img src="./img/Nutrience_big.jpeg" alt="">
           <img src="./img/Nutrience_big.jpeg" alt="" id="firstClone">
         </div>
         <button id="prevBtn">prev</button>
         <button id="nextBtn">next</button>
       </div> --}}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <a><img src="img/APR_App.jpeg" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
            <a href="dryfood"><img src="img/Nutrience_big.jpeg" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
            <a><img src="img/catsolution.jpeg" class="d-block w-100" alt="..."></a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
       <section>
         <h2>What's new</h2>
         <ul>
           <li><a href=""><img src="./img/Halo.png" alt=""><h3>Halo</h3></a></li>
           <li><a href=""><img src="./img/RoyalCanin.png" alt=""><h3>Royal Canin</h3></a></li>
           <li><a href=""><img src="./img/ScienceDiet.png" alt=""><h3>Science Diet</h3></a></li>
           <li><a href=""><img src="./img/Blue.png" alt=""><h3>Blue</h3></a></li>
         </ul>
         <span><a href="">See more brand ></a></span>
       </section>
       <section class="history">
        <h2>Browsing history</h2>
        <ul>
          <li><a href=""><img src="./img/can1.jpg" alt=""></a></li>
          <li><a href=""><img src="./img/can2.jpg" alt=""></a></li>
          <li><a href=""><img src="./img/can3.jpg" alt=""></a></li>
          <li><a href=""><img src="./img/can7.jpg" alt=""></a></li>
          <li><a href=""><img src="./img/can5.jpg" alt=""></a></li>
          <li><a href=""><img src="./img/can9.jpg" alt=""></a></li>
          <li><a href=""><img src="./img/can11.jpg" alt=""></a></li>
          <li><a href=""><img src="./img/can15.jpg" alt=""></a></li>
        </ul>
        <span><a href="">See more history ></a></span>
      </section>
       <section class="Featured">
        <h2>Featured food brand</h2>
        <ul>
          <li><a href=""><img src="./img/merrick.jpeg" alt=""><h3>Merrick</h3></a></li>
          <li><a href=""><img src="./img/nourish.jpeg" alt=""><h3>Simple Nourish</h3></a></li>
          <li><a href=""><img src="./img/blue buffalo.jpeg" alt=""><h3>Blue</h3></a></li>
          <li><a href=""><img src="./img/nutrience.jpeg" alt=""><h3>Nutrience</h3></a></li>
        </ul>
        <span><a href="">See more brand ></a></span>
      </section>
      
      <section class="service">
        <h2>Service</h2>
        <ul>
          <li><a href=""><img src="./img/grooming.png" alt=""><h3>Grooming</h3></a></li>
          <li><a href=""><img src="./img/training.png" alt=""><h3>Training</h3></a></li>
          <li><a href=""><img src="./img/camping.png" alt=""><h3>Daycare</h3></a></li>
          <li><a href=""><img src="./img/hotel.png" alt=""><h3>Hotel</h3></a></li>
        </ul>
      </section>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>